{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YTLoader</title>
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'libs/font-awesome/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/3d_text.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/neon_text.css' %}">#}
</head>
<body>
	
	<div>


		<header class="header">
			<div class="container">
				<div>
					<a class="logo" href="{% url 'home' %}">YTLoader</a>
					<a class="help" href="#0">Help</a>
				</div>
			</div>
		</header>

		<div class="banner">
			<div class="container">
				<div class="search-form" id="search-form">


{#                    <div class="stage">#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                      <div class="layer"></div>#}
{#                    </div>#}


{#                    <div class="sign">#}
{#                        <span class="sign__word">YTLoader</span>#}
{#                    </div>#}










{#					<div id="form-head">#}
{#						<h1 id="form-h1">Download video from YouTube!</h1>#}
{#					</div>#}
                    <!--
                    <div class="div-main">
						<div class="div-common div1" id="div1"></div>
						<div class="div-common div2" id="div2"></div>
						<div class="div-common div3" id="div3"></div>
						<div class="div-common div4" id="div4"></div>
						<div class="div-common div5" id="div5"></div>
					</div> -->

                    <form class="banner__form" id="banner__form" method="POST" action="{% url 'video_loader' %}">
                        {% csrf_token %}
                        <div>
                            <input class="banner__input" id="banner__input" type="text" placeholder="Enter link" autocomplete="off" name='url' maxlength="100">
                            <button type="submit" class="fas fa-arrow-alt-circle-down fa-3x banner__btn" id="banner__btn"></button>
                        </div>
                    </form>

					<h1 id="loading-text">loading your video...</h1>

{#                    {% if video_url %}#}
{#                        {% for video in videos %}#}
{#						    <a href="{% url 'video_loader' last_video.pk %}" class="v-download" id="v-download">Download</a>#}
{#					    {% endfor %}#}
{#                    {% endif %}#}
		        </div>
			</div>
		</div>

		<footer>
			<div class="container">
				
			</div>
		</footer>


	</div>

	
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>