/* font-family: 'Roboto Condensed';
======================================== */
@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/roboto_condensed-bold/robotocondensed-bold-webfont.woff') format('woff'),
	url('../fonts/roboto_condensed-bold/robotocondensed-bold-webfont.woff2') format('woff'),
	url('../fonts/roboto_condensed-bold/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* font-family: 'Montserrat';
======================================== */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat-medium/montserrat-medium-webfont.woff') format('woff'),
	url('../fonts/montserrat-medium/montserrat-medium-webfont.woff2') format('woff'),
	url('../fonts/montserrat-medium/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* font-family: 'Pacifico';
======================================== */
@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/pacifico-regular/pacifico-regular-webfont.woff') format('woff'),
	url('../fonts/pacifico-regular/pacifico-regular-webfont.woff2') format('woff'),
	url('../fonts/pacifico-regular/Pacifico-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* font-family: 'Noto Sans JP - bold';
======================================== */
@font-face {
	font-family: 'Noto Sans JP';
	src: url('../fonts/noto_sans_jp-bold-medium/notosansjp-bold-webfont.woff') format('woff'),
	url('../fonts/noto_sans_jp-bold-medium/notosansjp-bold-webfont.woff2') format('woff'),
	url('../fonts/noto_sans_jp-bold-medium/NotoSansJP-Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* font-family: 'Noto Sans JP - medium';
======================================== */
@font-face {
	font-family: 'Noto Sans JP';
	src: url('../fonts/noto_sans_jp-bold-medium/notosansjp-medium-webfont.woff') format('woff'),
	url('../fonts/noto_sans_jp-bold-medium/notosansjp-medium-webfont.woff2') format('woff'),
	url('../fonts/noto_sans_jp-bold-medium/NotoSansJP-Medium.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
}









